html{
	font-family:Corbel, sans-serif;
}.centerscroll{
	width: 1000px;
	background-color: #f8d088;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	height: 100%;
	padding-bottom: 20px;
}.content{
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	width: 900px;
	border: 1px solid black;
	padding: 10px;
}th, td{
	text-align: center;
	width: 180px
}.linkTable{
	width: 900px;
}.SiteImg{
	max-width: 300px;
	max-height: 300px;
}.linkcol{
	text-align: left;
	width: 560px;
}.SiteLink{
	font-size: 2em;
	text-align: center;
}body{
	min-height: 100vh;
	background-image: url("./images/yoshibg.gif");
	background-attachment: fixed;
	background-position: bottom;
	background-repeat: repeat-x;
	margin: 0px;
	background-color: #F8B8A8;
}